[submodule "EQ_Comm"]
	path = Infra/EQ_Comm
	url = https://github.com/wkhadgar/EQ_Comm
[submodule "nRF24L01_STM32"]
	path = Drivers/nRF24L01_STM32
	url = https://github.com/wkhadgar/nRF24L01_STM32
[submodule "SH1106-I2C"]
	path = Drivers/SH1106-I2C
	url = https://github.com/wkhadgar/SH1106-I2C
